#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 80%;
  height: 80vh;
}

.forGrid {
  border: 2px solid rgb(223, 221, 221);
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  /* 親の８０にたいしてぴちぴちの１００％ */
  overflow: hidden;
}
.leftAll h1 {
  text-align: center;
}
.searchBarArea {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.leftAll {
  border-right: 2px solid rgb(223, 221, 221);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.today {
  background-color: gainsboro;
}

.allCards {
  display: flexbox;
  justify-content: center;
  gap: 10px;
  background-color: rgba(218, 210, 210, 0.832);
  margin: 10px;
}

.card {
  text-align: left;
  margin: 10px;
}

.cardTime {
  text-align: right;
  margin: 10px;
}

.icon {
  width: 30px;
  margin: 10px;
}

.contentArea {
  border: 2px solid rgb(223, 221, 221);
  text-align: left;
  margin-left: 20px;
  background-color: aqua;
}

.postPageBody {
  /* background-color: rgb(236, 237, 236); */
  display: grid;
  grid-template-rows: 1fr 5fr;
  gap: 10px;
  margin: 10px;
  height: 80%;
}

.rightHead {
  display: flex;
  justify-content: space-between;
}
.rightHead button {
  background-color: white;
  margin: 4px;
}

/* .postInput {
  width: max-content;
} */
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
/*
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/*
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
