#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 5rem; */
  width: 85%;
  height: 90vh;
}

/* ここから左🔴/ */
.forGrid {
  border: 2px solid rgb(223, 221, 221);
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 80%;
  /* 親の８０にたいしてぴちぴちの１００％ */
  /* overflow: auto; */
  box-shadow: 0 0 10px 5px #888;
  background-color: rgb(245, 245, 246);
  box-shadow: 10px rgba(169, 167, 167, 0.3);
  /* border-radius: 20px; */
}
.leftAll h1 {
  text-align: center;
}

.searchBarArea {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Title {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  font-size: 48px;
  display: block;
  text-align: center;
  margin: 10px;
}

.leftAll {
  border-right: 2px solid rgb(223, 221, 221);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(7, 141, 236);
}
.leftAll h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: rgb(227, 241, 248);
  transform: scaleX(1.4);
}
.today {
  background-color: gainsboro;
  text-align: center;
}

.allCards {
  display: flexbox;
  justify-content: center;
  gap: 10px;
  background-color: rgba(218, 210, 210, 0.832);
  margin: 10px;
}

.card {
  text-align: left;
  margin: 10px;
}

.fileName {
  margin-left: 10px;
}

.cardTime {
  text-align: right;
  margin: 10px;
}

.icon {
  width: 30px;
  margin: 10px;
}

/* ここから右🔴/ */
.rightBodyAll {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.postPageBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  height: 85%;
}

.rightHead {
  display: flex;
  justify-content: space-between;
}
.rightHead button {
  background-color: transparent;
}

.saveButton {
  color: chocolate;
  /* border-radius: 2px; */
}

.inputTitle {
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

textarea {
  height: 250px;
  border-radius: 5px;
  padding: 5px;
}

.previewImage {
  height: 80px;
  object-fit: contain;
  /* display: block; */
}

.bbImage {
  width: 200px;
}

.theImage {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
object-fit:cover;
}
